.card-event {
  position: relative;
  width: 100px;
  height: 200px;
  border: none;
  border-radius: 10px;
  font-size: 108px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #ff5900;
  text-shadow: 4px 4px 0 #fff;
  background-color: transparent;

  &[name='buster'] {
    top: 104px;
    width: 94px;
    height: 130px;
    font-size: 60px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .card-info-btn {
    display: none !important;
    right: 35px !important;
  }
}

#gameInfo {
  .deck-list {
    position: absolute;
    top: 50px;
    right: 24px;
    scale: 0.5;
    transform-origin: right top;
    display: flex;
    flex-wrap: wrap;
    width: 80px;

    .deck {
      margin-bottom: -160px;
      cursor: default;

      .card-event {
        &:before {
          content: attr(content);
          position: absolute;
          top: 0px;
          right: -24px;
          font-size: 28px;
          text-shadow: 2px 1px 0 #fff;
        }
      }

      &[code='Deck[card_buster]'] {
        position: absolute;
        top: 0px;
        top: -104px;
        right: 100px;

        .company-card {
          background-image: none;

          .card-event {
            &:before {
              position: relative;
              right: auto;
              font-size: 60px;
            }
          }
        }
      }
    }
  }
}

.has-tutorial-example {
  box-shadow: none !important;

  > .tutorial-example {
    display: none;

    .hidden {
      display: none;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }

  &.tutorial-active {
    box-shadow: none;

    > .tutorial-example {
      display: block;
      &.flex {
        display: flex;
      }
    }
    > :not(.tutorial-example) {
      display: none;
    }
  }
}
