.card-event {
  position: relative;
  width: 152px;
  height: 296px;
  border: none;
  border-radius: 10px;
  font-size: 108px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #ff5900;
  text-shadow: 4px 4px 0 #fff;
  background-color: transparent;

  &[name='buster'] {
    top: 104px;
    width: 140px;
    height: 193px;
    font-size: 80px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.company-card {
  background-image: url(@/assets/clear-black-back.png);
}

#gameInfo {
  .deck-list {
    position: absolute;
    top: 50px;
    right: 20px;
    scale: 0.5;
    transform-origin: right top;
    display: flex;
    flex-wrap: wrap;
    width: 160px;

    .deck {
      margin-bottom: -240px;
      cursor: default;

      .card-event {
        &:before {
          content: attr(content);
          position: absolute;
          top: 0px;
          right: -28px;
          font-size: 46px;
        }
      }

      &[code='Deck[card_buster]'] {
        position: absolute;
        top: 0px;
        top: -100px;
        right: 190px;

        .card-event {
          &:before {
            position: relative;
            right: auto;
            font-size: 80px;
          }
        }
      }
    }
  }
}

.has-tutorial-example {
  box-shadow: none !important;

  > .tutorial-example {
    display: none;

    .hidden {
      display: none;
      position: absolute;
      left: 0px;
      top: 0px;
    }
  }

  &.tutorial-active {
    box-shadow: none;

    > .tutorial-example {
      display: block;
      &.flex {
        display: flex;
      }
    }
    > :not(.tutorial-example) {
      display: none;
    }
  }
}
